src/main/mule/rest-api_and_soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="af95f412-d5b2-4e88-93cf-c2a03ddfb621" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="84f3966c-81b9-4670-835a-3878d75dd4e8" >
		<wsc:connection wsdlLocation="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso?WSDL" service="CountryInfoService" port="CountryInfoServiceSoap12" address="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="0a376fee-3988-420f-9362-6e8a86815a4e" basePath="/v3.1" >
		<http:request-connection protocol="HTTPS" host="restcountries.com" port="443"/>
	</http:request-config>
	<flow name="rest-api_and_soapFlow" doc:id="ff67e1c6-11e8-4c7f-b300-2bb078aa6059" >
		<http:listener doc:name="Listener" doc:id="c0cf4788-0a01-4b86-9b79-c73c1a9dce5c" config-ref="HTTP_Listener_config" path="path"/>
		<set-variable value='#[attributes.queryParams.iso as String default "AD"]' doc:name="Set Variable" doc:id="53641d6e-2037-47ce-8b15-b237ed89ca23" variableName="isoCode"/>
		<ee:transform doc:name="Transform Message" doc:id="60068114-d7ce-4c9e-9255-3d5b6c9073ff" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.oorsprong.org/websamples.countryinfo
---
{
	ns0#FullCountryInfo: {
		ns0#sCountryISOCode: vars.isoCode
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="FullCountryInfo" doc:name="Consume" doc:id="b5156431-b177-40aa-95d5-4bd047bc1ae4" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="66780811-2fc1-4995-8f6b-d95954f7d453" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://www.oorsprong.org/websamples.countryinfo

output application/json
---
payload.body.ns0#FullCountryInfoResponse.ns0#FullCountryInfoResult]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[%dw 2.0&#10;ns ns0 http://www.oorsprong.org/websamples.countryinfo&#10;---&#10;payload]" doc:name="Set Variable" doc:id="8e8df9ca-fd1c-4501-bb0c-f94d5b684687" variableName="AllInfo"/>
		<http:request method="GET" doc:name="Request" doc:id="0bba2f78-6caa-4618-b308-4eae46ed5941" config-ref="HTTP_Request_configuration" path='/name/{countryName}'>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"countryName" : payload.sName
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="470b658b-3cf1-4b85-8fa5-ccebb1fddd5f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{"fromSoap" :[vars.AllInfo]} ++ {"fromRest":{
	"name": payload[0].name.common,
	"official": payload[0].name.official
}}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
